.introducao {
position: relative;  
}

.introducao h1 {
  position: relative;
  font-size: 2rem;
  max-width: 300px;
  line-height: 1.125;
  margin-bottom: 30px;
}

.introducao h1::before {
    left: -15px;
    top: -10px;
  }
  
  .introducao h1::after {
    right: -5px;
    bottom: -10px;
  }

.introducao p {
  font-size: 1.125rem;
  /* color: #525252; */
}

/* .icons {
  width: 40px;
  position: absolute;
  z-index: -5;
} */

/* .css-icon {
  top: 30px;
  left: 300px;
  transform: rotate(30deg);
}

.javascript-icon {
  top: -20px;
  transform: rotate(10deg);
}

.html-icon {
  top: 30px;
  left: 130px;
  transform: rotate(-40deg);
}

.bootstrap-icon {
  top: 110px;
  left: 60px;
  transform: rotate(50deg);
}

.react-icon {
  top: 130px;
  left: 250px;
} */



@media (min-width: 500px) {
  .introducao h1 {
    font-size: 3rem;
    max-width: 500px;
  }

  .icons {
    width: 50px;
  }
}

@media (min-width: 800px) {
  .introducao {
    padding: 160px 40px;
    gap: 40px;
  }

  .introducao h1 {
    font-size: 4.5rem;
    max-width: 800px;
    /* background-color: #525252; */
  }

  .introducao h1 span:hover {
    color: var(--cor-p1);
  }

  .introducao p {
    font-size: 1.5rem;
  }

  /* .icons {
    width: 100px;
  }

  .css-icon {
    top: 30px;
    right: -3px;
    transform: rotate(30deg);
  }
  
  .javascript-icon {
    top: -10px;
    transform: rotate(10deg);
  }
  
  .html-icon {
    top: 100px;
    left: 550px;
    transform: rotate(-40deg);
  }
  
  .bootstrap-icon {
    top: 450px;
    left: 200px;
    transform: rotate(50deg);
  }
  
  .react-icon {
    top: 330px;
    left: 850px;
  } */

}
