/* ----- estilização do Header ----- */
.header {
  box-sizing: border-box;
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  padding: 20px 20px;
  z-index: 101;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: grid;
  place-content: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: transform 0.3s, opacity 0.3s;
  z-index: 99;
}

.header-menu ul {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 2rem;
  text-align: center;
}

.header-menu a {
  font-size: 1.5rem;
  line-height: 1.3;
  padding: 10px 20px;
  display: block;
  position: relative;
}

.toggle {
  font-size: 2rem;
  cursor: pointer;
  z-index: 102;
}

.toggle .close-menu {
  display: none;
}

header.show .header-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

header.show .open-menu {
  display: none;
}

header.show .close-menu {
  display: block;
}

/* ----- estilização do Inicio ----- */

#home .home {
  margin: 100px auto 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#home .home h1 {
  font-size: 3rem;
  margin-bottom: 0px;
}

/* ----- estilização do Sobre ----- */

#about .about-me {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
}

#about .about-me .title {
  margin-bottom: 0px;
}

#about .hobbies .content {
  gap: 30px;
  padding: 20px;
}

#about .aboutMe-content {
  display: grid;
  gap: 20px;
  transition: left 0.3s ease-in-out;
}

#about .button {
  justify-self: baseline;
}

#about .button img {
  position: relative;
}

#about .button:hover img {
  left: 3px;
}

/* ----- estilização de Educação ----- */

#contact form {
  display: grid;
  gap: 20px;
  padding: 20px;
}

#contact form .form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

#contact .form .message {
  grid-column: 1/-1;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  border: 2px solid #000;
  border-radius: 10px;
  outline: none;
  width: 100%;
  padding: 10px;
  display: inline-block;
}

textarea {
  height: 100px;
}

input:focus,
textarea:focus {
  border: 2px solid var(--selection-color);
}

/* ----- responsividade para desktop ----- */

@media (min-width: 768px) {
  .toggle {
    display: none;
  }

  .header-menu {
    position: static;
    width: auto;
    height: auto;
    background: none;
    transform: none;
    opacity: 1;
    visibility: visible;
    transition: none;
  }

  .header-menu ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  .header-menu a {
    font-size: 1.125rem;
    padding: 5px 10px;
  }


  #education .info {
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }

  #education h3::before {
    width: 20px;
    border-radius: 4px;
    top: 40%;
    transform: translateY(-60%);
  }

  #contact form .form {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {

  .home .social {
    position: fixed;
    right: 0;
    margin-right: 18px;
  }

  .home .social ul {
    flex-direction: column;
  }

  #about .aboutMe-content {
    gap: 40px;
  }
}