@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap');

@layer components {
  .card-border{
    @apply border-2 border-black shadow-[8px_8px_0px_0px_rgba(0,0,0,1)] rounded-lg;
  }

  .card-decoration {
    @apply flex px-5 py-3 gap-3  bg-secondaryLight-100 rounded-t-lg border-b-2 border-black -z-10 w-full;
  }

  .card-detail {
    @apply inline-block h-5 w-5 rounded-full border-solid border-2 border-black bg-gray-100;
  }

  .card-content {
    @apply grid gap-4 p-6;
  }

  .image-border {
    @apply p-3 rounded-2xl border-2 border-black shadow-[4px_4px_0px_0px_rgba(0,0,0,1)];
  }

  .image {
    @apply block max-w-full h-auto object-cover rounded-lg;
  }

  .stack-item {
    @apply py-1 px-3 rounded-lg font-sans text-sm;;
  }

  .section-title {
    @apply text-5xl font-display font-bold;


  }

}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

li {
  line-height: var(--line-height-base);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

a {
  font-family: "Nunito", sans-serif;
}

strong {
  color: var(--strong-color);
}



.title {
  font-family: "Baloo Thambi 2", system-ui;
}

.subtitle {
  font-size: 1.3rem;
  margin-bottom: 10px;
  line-height: var(--line-height-base);
}

.paragraph {
  font-size: 1.125rem;
  margin-bottom: 20px;
  line-height: var(--line-height-base);
}

.text {
  font-size: 1rem;
  line-height: var(--line-height-base);
}

.social {
  margin: 20px 0px;
}

.social img {
  width: 32px;
}

.social ul {
  display: flex;
  gap: 20px;
}

.projetos::before,
.curso-titulo::before,
.form::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(var(--cor-p2), var(--cor-p1));
  position: absolute;
}

@media (min-width: 768px) {

  .paragraph {
    margin-bottom: 10px;
  }
}