/* line height */
:root {
  --line-height-base: 1.4;
  --line-height-title: 1.3;
}

@media (min-width: 768px) {
  :root {
    --line-height-base: 1.6;
  }
}

/* cores */

:root {
  /* background */
  --background-purple--1: #C8C2DB;
  --background-pink--1: #E0B8BF;
  --background-pink--2: #F5D8DD;
  --background-green--1: #DAF2E2;
  --background-yellow--1: #FAF0C8;

  /* cards */
  --card-green--1: #ADD9BC;
  --card-green--2: #DAF2E2;
  --card-green--hover: #8FBF9F;
  --card-purple--1: #B2A9CF;
  --card-purple--2: #D8D3E5;
  --card-purple--hover: #8A7FB5;
  --card-orange--1: #EBB090;
  --card-orange--2: #F2DBCE;
  --card-orange--hover: #DB8F65;
  --card-yellow--1: #EDDC97;
  --card-yellow--2: #FAF0C8;
  --card-yellow--hover: #DBC465;

  /* detalhes */
  --strong-color: #55468F;
  --span-hover: #65579C;
  --local-color: #616161;
  --selection-color: #463782;
  --dot-color: #8EB7E5;

}

.dot-color {
  color: var(--dot-color);
}

.green-1 {
  background: var(--card-green--1);
}

.green-2 {
  background: var(--card-green--2);
}

.green-1-hover {
  background: var(--card-green--1);
}

.green-1-hover:hover {
  background: var(--card-green--hover);
}

.yellow-1 {
  background: var(--card-yellow--1);
}

.yellow-2 {
  background: var(--card-yellow--2);
}

.yellow-1-hover {
  background: var(--card-yellow--1);
}

.yellow-1-hover:hover {
  background: var(--card-yellow--hover);
}

.purple-1 {
  background: var(--card-purple--1);
}

.purple-2 {
  background: var(--card-purple--2);
}

.purple-1-hover {
  background: var(--card-purple--1);
}

.purple-1-hover:hover {
  background: var(--card-purple--hover);
}

.orange-1 {
  background: var(--card-orange--1);
}

.orange-1-hover {
  background: var(--card-orange--1);
}

.orange-1-hover:hover {
  background: var(--card-orange--hover);
}

.orange-2 {
  background: var(--card-orange--2);
}

